.nd-banner {
  height: 46px;
  width: 1091px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b757e;
  padding: 1rem;
  margin: 10px auto 0px auto;
  letter-spacing: 0.7px;
  font-size: 16px;
}
@media screen and (max-width: 440px) {
  .nd-banner {
    height: 46px;
    margin: 10px 15px 0px;
    flex-direction: column;
  }
}
.nd-banner__text {
  font-family: BrandonTextRegular;
  margin-left: 29px;
  color: white;
}
.nd-banner__action-button {
  text-decoration: underline;
  font-family: BrandonTextBold;
  color: white;
  margin-left: 6px;
}

.adora-cta_btn {
  cursor: pointer;
  display: block;
  width: 223px;
  height: 46px;
  border-radius: 3px;
  background-color: #1b757e;
  line-height: 47px;
  font-family: BrandonTextBold;
  font-size: 18px;
  letter-spacing: 1.13px;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.adora-cta_btn:hover {
  text-decoration: none;
  color: #fff;
}
